<fa-app style="width: 100%; height: 100%; position: absolute;" fa-pipe-to="scrollEvents">

  <fa-modifier  fa-translate="[xTranslate(timeline($index)), 0, zTranslate(timeline($index))]" fa="[0.5, 0.5]" fa-size="[width(), undefined]" fa-opacity="opacity(timeline($index))" ng-repeat="tab in tabs">
    <fa-surface fa-size="[undefined, undefined]">
      <div style="background: url(images/{{tab}}.jpg) no-repeat center center fixed; position: absolute; width: 100%; height: 100%;">
      </div>
    </fa-surface>
  </fa-modifier>

  <fa-modifier fa-size="[undefined, 40]" fa-translate="[0, 0, 10]">

    <fa-grid-layout fa-options="{dimensions: [3, 1]}">

      <fa-modifier ng-repeat="tab in tabs">
        <fa-surface fa-size="[undefined, 40]">
          <div style="background: url(images/{{tab}}.jpg) no-repeat center center fixed; position: absolute; width: 100%; height: 100%;">
          </div>
        </fa-surface>
        <fa-modifier fa-opacity="tabOpacity(timeline($index))">
          <fa-surface fa-size="[undefined, 40]" fa-click="goTo($index)" fa-background-color="'black'">
          </fa-surface>
        </fa-modifier>
      </fa-modifier>

    </fa-grid-layout>

  </fa-modifier>

</fa-app>
